<!-- This html template will start off all of your other html files/pages -->

<!DOCTYPE html>
<html>

<head>
    <script>
        function addCss(rule) {
            let css = document.createElement('style');
            css.type = 'text/css';
            if (css.styleSheet) css.styleSheet.cssText = rule; // Support for IE
            else css.appendChild(document.createTextNode(rule)); // Support for the rest
            document.getElementsByTagName("head")[0].appendChild(css);
        }

        // CSS rules
        let rule = '.square { background-color: {{ color_hex_code }}; width: 100px; height: 100px; }';

        // Load the rules and execute after the DOM loads
        window.onload = function() {
            addCss(rule)
        };
    </script>
    <!-- the page title will be a varible passed to the render_template() function for each page separately-->
    <title> {{ page_title }}</title>
    <meta charset="utf-8" />
    <!-- include the css from the file static/style.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <!-- this headline will appear on all pages. -->
    <header>
        <div class="banner">
            <h1> Color Check </h1>
        </div>
    </header>
    <main>
        {% block content%} {% endblock %}
    </main>
</body>