body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 2rem;
}

.banner {
    margin-top: 2rem;
    color: black;
    margin-bottom: 1rem;
}

footer {
    margin-top: 5rem;
    text-align: center;
}

.table {
    border-spacing: 0;
    background-color: #cbe7ff;
    margin-top: 1rem;
    float: left;
}

.table_contacts {
    border-spacing: 0;
    background-color: #cbe7ff;
    margin: 1rem auto auto 30rem;
}

.table_row:nth-child(even) {
    background-color: #94bfe6;
}

.table_header {
    text-align: left;
    padding: 8px;
}

.table_cell {
    padding: 8px;
}