body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 2rem;
}

.banner {
    margin-top: 2rem;
    color: black;
    margin-bottom: 1rem;
}

footer {
    margin-top: 5rem;
    text-align: center;
}

.table {
    border-spacing: 0;
    background-color: #f5f5f5;
}

.table_row:nth-child(even) {
    background-color: #e5e5e5;
}

.table_header {
    text-align: left;
}

.table_cell {
    padding: 8px;
}