<!-- This html template will start off all of your other html files/pages -->

<!DOCTYPE html>
<html>

<head>
    <!-- the page title will be a varible passed to the render_template() function for each page separately-->
    <title> {{ page_title }}</title>
    <meta charset="utf-8" />
    <!-- include the css from the file static/style.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>

<body>

    <!-- this headline will appear on all pages. -->
    <header>
        <table>
            <tr>
                <th><a href="/">Home</a></th>
                <th><a href="/first-page">Students</a></th>
                <th><a href="/second-page">Programs</a></th>
            </tr>
        </table>

    </header>

    <!-- This is the part which will be different on each page. 
       see first-page.html for an example of using it -->
    <main>
        {% block content%} {% endblock %}
    </main>
    <footer>
        <h3> Contact us </h3>
        <form>
            <label for="fname">Name:</label><br>
            <input type="text" id="fname" value="Satoshi Nakamoto"><br><br>
            <label for="fname">E-Mail:</label><br>
            <input type="text" id="fname" value="satoshi.nakamoto@gmail.com"><br><br>
            <input type="submit" value="Submit">
        </form>
    </footer>
</body>