{% extends "base.html" %} {% block content %}


<div class="first_view">
    <h1>
        Studying at Code
    </h1>
    <h3>A new kind of university for the Digital Pioneers of tomorrow</h3>
    <div class="buttonbox">
        <button><a href="/first-page">Meet our Students</a></button>
        <button style="margin-left:3rem"><a href="/second-page">Our Bachelor Programs</a></button>
    </div>
</div>
<div class="second_view">
    <h1>Rethinking higher education</h1>
    <h3>Our new and intensive programs require a new educational concept. Or as we at CODE would say: This is how higher education always should be.</h3>
    <p>
        With CODE, our founders wanted to create a completely new educational concept. They wanted to move away from teacher-centered classrooms, from exams that demand rote knowledge that will be immediately forgotten, and from grades that only reflect a small
        part of your actual knowledge spectrum. Instead, they have developed a new learning concept: Curiosity-Driven Education (which is also evident in our name “C
        <>DE”). We decided that in order to learn how to be a productive member of an international and interdisciplinary team, your learning environment should provide you with lots of opportunities to work in teams. As for the development of problem-solving
            skills, you would be presented with real-life problems to solve over and over again. Finally, to help you develop (or better rediscover) your eagerness to learn, we created a learning environment where students’ main driver for learning would
            be their own curiosity. The knowledge transfer always takes place in the context of interdisciplinary projects, which are among other things, developed with our partners and are intended to ensure a practical learning experience. Our professors
            do not wish to solely impart their knowledge to you, but rather try to support and strengthen you on your individual learning path. ßpßp0ü
    </p>
</div>
<div class="third_view">
    <h1>A new kind of university – The theoretical foundations</h1>
    <h3>CODE’s learning concept is unique and a lot of its details have been improved since we started back in 2017, especially thanks to our students who have helped tremendously to understand what works and what doesn’t and to figure out how to improve.</h3>
</div>

{% endblock %}