body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 2rem;
    text-align: center;
}

.banner {
    margin-top: 2rem;
    color: black;
    margin-bottom: 1rem;
}

footer {
    margin-top: 5rem;
    text-align: center;
}

a {
    padding: 1rem;
    background-color: rgb(160, 185, 207);
}