body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0B2126;
    color: #F2E8E4
}

@viewport {
    width: device-width;
    zoom: 1.1;
    min-zoom: 0.4;
    max-zoom: 2;
    user-zoom: fixed;
}

.banner {
    color: #D93B18;
    margin-bottom: 1rem;
}

footer {
    background-color: #F2E8E4;
    text-align: center;
    width: 100%;
    color: #0B2126;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

table {
    text-align: center;
    width: 40%;
    margin: 1rem 0 1rem 60%;
}

th {
    width: 10%;
    margin-top: 1vh;
    padding: 1vh;
}

table a {
    position: relative;
    display: block;
    text-decoration: none;
    font-size: 1.3rem;
    color: #F2E8E4;
    text-transform: uppercase;
    padding: 4px 0;
    transition: 0.5s;
}

table a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: #59180A;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
}

table a:hover {
    color: #D93B18;
}

table a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

h1 {
    margin: 5rem 0 0 5rem;
    font-weight: bold;
}

h3 {
    margin: 3rem 0 0 5rem;
}

h4 {
    margin: 3rem 0 0 5rem;
}

button {
    padding: 1rem;
    background-color: #0B2126;
    font-size: 1em;
    border: 1px solid #F2E8E4;
    float: left;
    border-radius: 3px;
    transition: 0.2s;
}

.second_view button {
    background-color: #F2E8E4;
    border: 1px solid #0B2126;
}

.second_view button a {
    color: #0B2126;
}

.second_view button a:hover {
    color: #F2E8E4;
}

button a {
    color: #F2E8E4;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    background-color: #8C260F;
    box-shadow: -2px 5px 2px grey;
}

.buttonbox {
    margin: 5rem auto auto 5rem;
}

.first_view {
    height: 75vh;
    padding-top: 5rem;
    background-color: #0B2126;
}

.second_view {
    background-color: #F2E8E4;
    height: 60vh;
    width: 100%;
    color: #0B2126;
    padding-top: 7rem;
}

.third_view {
    height: 60vh;
    width: 100%;
    padding-top: 7rem;
}

.last_view {
    background-image: url(https://code.berlin/content/uploads/8f750e8e-2400x1600.jpg);
    background-attachment: fixed;
    background-position: center;
    height: 60vh;
    width: 100%;
    padding-top: 7rem;
    background-repeat: no-repeat;
}

.last_view h1 {
    mix-blend-mode: difference;
    font-weight: bold;
    font-size: 5rem;
    text-align: center;
}

.last_view h3 {
    font-size: 2rem;
    text-align: center;
}

.first_view h1 {
    color: #F2E8E4;
    font-weight: bold;
    font-size: 5rem;
}

.first_view h3 {
    color: #F2E8E4;
}

p {
    margin: 1rem 5rem 1rem 5rem;
}

.study_programs button {
    margin: 1rem auto auto 5rem;
}

ul {
    margin: 1rem 5rem 1rem 5rem;
}

ol {
    margin: 1rem 3rem 1rem 4rem;
}

.admissions button {
    margin: 3rem auto auto 5rem;
}

input {
    width: 21vw;
    padding: 1rem;
    border: 1px solid #0B2126;
    color: #0B2126;
    border-radius: 3px;
    margin: 1rem;
    font-size: 1rem;
}

textarea {
    width: 21vw;
    padding: 1rem;
    border: 1px solid #0B2126;
    color: #0B2126;
    border-radius: 3px;
    margin: 1rem;
    resize: none;
}

.submit_button {
    transition: 0.2s;
}

.submit_button:hover {
    background-color: #8C260F;
    box-shadow: -2px 5px 2px grey;
    color: #F2E8E4;
}